html, body {
    padding: 0;
    width: 375px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 15px;
}

.user-avatar {
    width: 10%;
    border-radius: 50%;
}

.logo {
    width: 100px;
}

.post .header {
    padding: 10px 0px;
    display: flex;
    justify-content: start;
}

.post .avatar {
    width: 32px;
    border-radius: 50%;
}

.post .img {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 2px solid #C6C6C6;
}

.control-bar {
    width: 23px;
}


/* html, body {
    margin: 0;
    padding: 0;
    width: 375px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: lightgrey;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 2px solid #C6C6C6;
}

.logo {
    width: 127px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.avatar {
    margin-top: 16px;
    margin-right: 15px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

section {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 13px;
    margin-top: 11px;
}

p {
    font-size: 12px;
    margin-top: -5px;
    margin-left: 15px;
}

.gogh {
    margin-top: 10px;
    margin-left: 15px;
}

.icon {
    width: 24px;
    padding: 10px;
}

.post {
    width: 100%;
}

span {
    font-weight: 700;
} */